### PCADSS access from Python on Windows

*Only works on Windows*

Get temporary or permanent admin access (if you don't already have it) by filling out a workstation access form

In [1]:
!@Start iexplore "http://notesforms002.opr.statefarm.org/sff/W0077874.nsf/docframeset?openform&sffviewcategory=http://notesforms001.opr.statefarm.org/sff/w0057840.nsf/Subject?SearchView&SearchWV=1&SearchOrder=4&Query=workstation access&parentunid=B9F74456B035682B86257ECB005C0D69"

Install required programs. Althought the line below will work, you should fill out the [OLEX](https://olex-secure.openlogic.com/login) paperwork first. If it is your first time using OLEX, you would need to complete the open course located [here](http://sfld75sa12.opr.statefarm.org/Saba/Web/Main). Search for the Offering/Course ID: 3TR08794WB

In [1]:
!pyodbc-3.0.7.win-amd64-py2.7.exe

Import pyodbc and pandas

In [2]:
import pyodbc
import pandas as pd

Make a connection to ACTDM4

In [3]:
con = pyodbc.connect("DSN=ACTDM4")

Write a SQL query

In [4]:
sql = """SELECT case when HCODE='0108##' then 'HO-W' else 'MC' end,
             U92.STATENAME_U(STATE),YEAR,Sum(WRITTEN_PREM) as WRITTEN_PREM
           FROM V23.FIRE_PREM_V
           WHERE HCODE='0108##' and STATE IN('07', '08') and YEAR = 2012
           GROUP BY HCODE, STATE, YEAR"""

Use pandas to read the results of the query into a dataframe

In [5]:
data = pd.read_sql_query(sql, con)
data

      1            2  YEAR  WRITTEN_PREM
0  HO-W  CONNECTICUT  2012   46688949.20
1  HO-W     DELAWARE  2012   44066025.43

Optionally, write more queries

In [6]:
new_sql = """SELECT case when HCODE='0108##' then 'HO-W' else 'MC' end,
                U92.STATENAME_U(STATE),YEAR,Sum(WRITTEN_PREM) as WRITTEN_PREM
             FROM V23.FIRE_PREM_V
             WHERE HCODE='0108##' and STATE IN('07', '08') and YEAR = 2014
             GROUP BY HCODE, STATE, YEAR"""

new_data = pd.read_sql_query(new_sql, con)
new_data

      1            2  YEAR  WRITTEN_PREM
0  HO-W     DELAWARE  2014   46795593.41
1  HO-W  CONNECTICUT  2014   53827157.31

In [7]:
pyodbc.version

'3.0.7'